.DS_Store
__pycache__/
cocoapi/
coco/
/coco
result/
result.png
.ipynb_checkpoints
*.caffemodel
*.chainermodel
*.npz
*.png
*.tar.gz
/others/result_handimg/*
/others/hand_position_dataset/*
/others/hand_img/*
/others/*.csv
/others/*.mov
**/*.json
venv
