.DS_Store
__pycache__/
cocoapi/
coco/
/coco
result/
result.png
.ipynb_checkpoints
*.caffemodel
*.chainermodel
*.npz
*.png
/others/result_hand_position/*
/others/result_images/*
/others/*.csv
/others/*.mov